<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./..//css/style.css">
  <title>Gallery KNT</title>
</head>
<body>

  <header>
    <h1>Characteres</h1>
    <a class="closebtn" href="./index.html"> ↩︎</a>
  </header>

  <div class="slideshow-container">


  
    <div class="mySlides fade">
      
      <img src="./../images/red.jpg" style="width:100%">
      <div class="text">Speedy Cerviche</div>
    </div>
  
    <div class="mySlides fade">
      
      <img src="./../images/pink.jpg" style="width:100%">
      <div class="text">Polly Esther</div>
    </div>
  
    <div class="mySlides fade">
      <img src="./../images/blue.jpg" style="width:100%">
      <div class="text">Guido Anchovy</div>
    </div>
  
  </div>
  <br>
  
  <div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
  

  <script src="./../js/apps.js"></script>
</body>
</html>