<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/movienew" method="POST">
        <table class="table">
            <tr>
                <td>
                    <h3>Movie Name</h3>
                </td>
                <td>
                    <h3>Movie Duration</h3>
                </td>
                <td>
                    <h3>Movie Author</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="moviename" value="Name of the movie here">
                </td>
                <td>
                    <input type="text" name="movieduration" value="Duration of the movie">
                </td>
            </tr>
        </table>
        <button type="submit">Click to Submit your movie</button>
    </form>
</body>
</html>