<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/searchFilm" method="POST">
        <table>
            <tr>
                <h3>Film Searcher</h3>
            </tr>
            <tr>
                <td>
                    <input type="text" name="filmToSearch" value="I will search your film">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>