<div class="container">
  <hr />
  <div class="text-center center-block">
    <br />
    <a href="https://www.facebook.com/carloslyudmyla.baron"><i class="fa fa-facebook-square fa-3x social"></i></a>
    <a href="https://www.linkedin.com/in/lyudmyla-baron/"><i class="fa fa-linkedin-square fa-3x social"></i></a>
    <a href="https://www.instagram.com/baroncheeky/"><i class="fa fa-instagram fa-3x social"></i></a>
    <a href="mailto:lxs07a@acu.edu"><i class="fa fa-envelope-square fa-3x social"></i></a>
  </div>
  <hr />
</div>