<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Álvaro Morte</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Álvaro Morte</h1>
    <p>
        Álvaro Antonio García Pérez[1] (born February 23, 1975), known professionally as Álvaro Morte, is a Spanish actor. He gained worldwide recognition playing the role of Sergio "El Profesor" Marquina in the Spanish heist series Money Heist (La Casa De Papel), originally aired on Antena 3 and broadcast on Netflix.
    </p>
    <a href="/home">Back to Home</a>
  </body>
</html>
