<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rugby Gallery</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <h1>So, About us</h1>
  <p>We are nice, not violent</p>
  <a href="/gallery">Check Gallery</a>
  <a href="/">Back to Home</a>
</body>
</html>