<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emma Watson</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <a href="/home">Return to Home Page</a>

    <h2>About Emma Watson</h2>
    <div>
        <img src="https://www.delas.pt/files/2017/03/emma-watson.jpg" alt="emma watson photo2" />
      </div>
      
    <div>
      <p>
        Emma Watson, in full Emma Charlotte Duerre Watson, (born April 15, 1990,
        Paris, France), British actress and activist who was perhaps best known
        for playing the young wizard Hermione Granger in the Harry Potter films.
        She also garnered attention as a spokesperson for women’s equality.
      </p>
      <p>
        Watson was born in Paris to British parents who divorced when she was
        young. She and her brother went to live with their mother in
        Oxfordshire, England. While a child, Watson decided she wanted to be an
        actress. Besides attending school, she took acting and singing classes.
        She also appeared in several school plays.
      </p>
    </div>
  </body>
</html>
