<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div class="container">
        <div >
            <div>
                <a href="/"><img  class="back"src="images/back.svg" alt=""></a>
                <h1 class="margin">ELON MUSK</h1>
            </div>
            <div class="paragraph">
                <p>A mordern alloy of Thomas Edison, Henry Ford, Howard Hughes and Steve Jobs, Elon Musk is the man behind payPal, Tesla Motors, SpaceX and SolarCity, each of which have sent shock waves throughout business and industry. </p>
                <p>More than any other executive today, Musk has dedicated his energies and his vast fortune to building a future that is rich and as far reaching as a science fiction fantasy.</p>
            </div>
        </div>
        <div>
            <img id="image" src="images/elon3.jpg" alt="">
        </div>
    </div>
</body>
</html>