<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About two Men</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>ABOUT PYRAMID MAN</h1>
    <p>You know a real person when you see it</p>
    <ul>
        <li> <a href="/">-- HOME --</a></li>
        <li> <a href="/gallery">-- Gallery --</a></li>
        <li> <a href="/works">-- Works --</a></li>
    </ul>
</body>
</html>