<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <h1>About Merlin</h1>
    <p>
        Merlin (Welsh: Myrddin, Cornish: Marzhin, Breton: Merzhin) is a mythical figure prominently featured in the legend of King Arthur and best known as a magic man or wizard, among his various other roles.
        [note 2] His usual depiction, based on an amalgamation of historic and legendary figures, was introduced by the 12th-century British author Geoffrey of Monmouth. 
        It is believed that Geoffrey combined earlier tales of Myrddin and Ambrosius, two legendary Briton prophets with no connection to Arthur, to form the composite figure called Merlinus Ambrosius (Welsh: Myrddin Emrys, Breton: Merzhin Ambroaz). Geoffrey's rendering of the character became immediately popular, especially in Wales.
        [3] Later writers in France and elsewhere expanded the account to produce a fuller image, creating one of the most important figures in the imagination and literature of the Middle Ages. Merlin's traditional biography casts him as a being born of a mortal woman, sired by an incubus, from whom he inherits his supernatural powers and abilities,
        [4] most commonly and notably prophecy and shapeshifting. Merlin matures to an ascendant sagehood and engineers the birth of Arthur through magic and intrigue.
        [5] Later authors have Merlin serve as the king's advisor and mentor until he disappears from the story after having been bewitched and forever sealed or killed by his student known as the Lady of the Lake after falling madly in love with her, leaving behind a series of prophecies foretelling the events yet to come. He is popularly said to be buried in the magical forest of Brocéliande.
    </p>
    <h1>The Name</h1>
    <p>
        The name "Merlin" is derived from the Brythonic Myrddin, the name of the bard who was one of the chief sources for the later legendary figure. Geoffrey of Monmouth Latinised the name to Merlinus in his works. Medievalist Gaston Paris suggests that Geoffrey chose the form Merlinus rather than the expected *Merdinus to avoid a resemblance to the Anglo-Norman word merde (from Latin merda) for feces.
        [7] A more plausible suggestion is that 'Merlin' is an adjective and that consequently we should be speaking of "The Merlin", from the French merle meaning 'blackbird',[8]: 79  or that the 'many names' deriving from Myrddin stem from the Welsh: myrdd: myriad.
        [9][10] There have been other suggestions deriving the name Myrddin from Celtic languages, including that of a combination of *mer (mad) and the Welsh dyn (man), to mean 'madman'.[11] In his Myrdhinn, ou l'Enchanteur Merlin (1862), La Villemarqué wished to derive the form Marz[h]in from marz, the Breton word for miracle; Villemarqué furthermore associated it with the marte, a type of fairy being from the French folklore.
        Clas Myrddin or Merlin's Enclosure is an early name for Great Britain stated in the Third Series of Welsh Triads.[12] Celticist A. O. H. Jarman suggests that the Welsh name Myrddin (Welsh pronunciation: [ˈmərðin]) was derived from the toponym Caerfyrddin, the Welsh name for the town known in English as Carmarthen.[13] This contrasts with the popular folk etymology that the town was named after the bard.
        The name Carmarthen is derived from the town's previous Roman name Moridunum,[7][13] in turn derived from Celtic Brittonic moridunon, 'sea fortress'.
    </p>
</body>
</html>