<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="stylesheets/style.css"/>
  </head>
  <body>
    <div class="div1">
      <h1 id="text">About</h1>
    </div>
    <section>
      <div>
        <p>
            Director, guionista, actor y productor de cine estadounidense ganador de varios premios cinematográficos<br>
        </p>
        <h1>Vida y trayectoria</h1>
        <p>Nació en el año 1942 en Flushing, Estados Unidos. En su infancia, el pequeño Martin tuvo serios problemas de salud que le impedía hacer la vida que hacían los demás niños de su edad, por lo que se pasaba gran parte en casa observando la calle y viendo películas, por ello, desde muy joven ya se sentía muy atraído por el séptimo arte aunque inicialmente, Scorsese planeaba ordenarse como sacerdote, lo que se nota en muchas de sus películas, que reflejan una crianza católica.<br>
            En 1964 obtuvo una licenciatura en la escuela de cine y trabajó como montador en Hollywood hasta que en 1967 hizo su primer cortometraje, The Big Shave. En 1968 dirigió su primer largometraje, el drama ¿Quién llama a mi puerta?, y más tarde rodó Malas calles en 1973. En este film aparecían ya las marcas de estilo habituales de Scorsese, como el empleo de antihéroes o la obsesión por la religión y el estilo de vida de los gangsters.<br>
            Otras películas dirigidas por él en aquella década son Alicia ya no vive aquí (1974), Taxi Driver (1976), una cinta que explora la violencia en la sociedad estadounidense, con Robert De Niro y una adolescente Jodie Foster y Toro salvaje (1980), uno de sus trabajos más ambiciosos, de nuevo con De Niro...<br>
            En total, Scorsesse a lo largo de su carrera ha dirigido más de 25 películas. Su trabajo ha sido reconocido con varias nominaciones al Oscar como director y como guionista. También ha ganado diferentes premios en prestigiosos concursos y festivales de todo el mundo.<br>
            Por otra lado Scorsese también se ha dedicado a la producción, fundando la Film Foundation, una entidad que promueve la restauración de films por parte de archivos y estudios.</p>
      </div>
    </section>
    <a href="/Home">Home</a>
    <a href="/works">works</a>
    <a href="/photogallery"> Photo Gallery</a>
  </body>
</html>
