<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emma Watson</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <a href="/home">Return to Home Page</a>

    <h2>Gallery of Photos</h2>
    <section class="gallery-ft">

        <div>
        <img src="https://iheartwatson.net/gallery/albums/images/Appearances/2020/2022/Mar13-BAFTABackstage/002.jpg" alt="emma watson ft1">
        <img src="https://iheartwatson.net/gallery/albums/images/Appearances/2020/2022/Mar13-BAFTA/007.jpg" alt="emma watson ft2">
        <img src="https://iheartwatson.net/gallery/albums/images/Press/2010/2019/12-Vogue/008.jpg" alt="emma watson ft3">
        <img src="https://iheartwatson.net/gallery/albums/images/Screencaps/TalkShows/2007/DavidLetterman/012.jpg" alt="emma watson ft4">
    </div>

    <div>
        <img src="https://iheartwatson.net/gallery/albums/images/Screencaps/Events/2001/Hollywood-HP1Premiere/003.jpg" alt="emma watson ft5">
        <img src="https://iheartwatson.net/gallery/albums/images/Appearances/2010/2017/03%2013%20-%20BATB%20NY%20Screening/028.JPG" alt="emma watson ft6">
        <img src="https://iheartwatson.net/gallery/albums/images/Films/2010/2019-LittleWomen/Caps/022.jpg" alt="emma watson ft7">
        <img src="https://iheartwatson.net/gallery/albums/images/Films/2010/2019-LittleWomen/Caps/037.jpg" alt="emma watson ft8">
    </div>

    <div>
        <img src="https://iheartwatson.net/gallery/albums/images/Appearances/2020/2021/Oct17-EarthshotPrize/001.jpg" alt="emma watson ft9">
        <img src="https://iheartwatson.net/gallery/albums/images/Appearances/2020/2021/Oct17-EarthshotPrize/002.jpg" alt="emma watson ft10">
        <img src="https://iheartwatson.net/gallery/albums/images/Appearances/2020/2021/Oct17-EarthshotPrize/053.jpg" alt="emma watson ft11">
        <img src="https://iheartwatson.net/gallery/albums/images/Appearances/2020/2022/Mar13-BAFTAAfterParty/002.jpg" alt="emma watson ft12">
    </div>

    <div>
        <img src="https://iheartwatson.net/gallery/albums/images/Appearances/2010/2017/0313-FilmSocietyForKids/003.jpg" alt="emma watson ft13">
        <img src="https://iheartwatson.net/gallery/albums/images/Photoshoots/2020/2022/001/001.jpg" alt="emma watson ft14">
        <img src="https://iheartwatson.net/gallery/albums/images/Photoshoots/2020/2022/001/002.jpg" alt="emma watson ft15">
        <img src="https://iheartwatson.net/gallery/albums/images/Photoshoots/2020/2021/001/004.jpg" alt="emma watson ft16">
    </div>
    
    </section>
</body>