<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Gallery</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Gallery</h1>
    <div class="gallery">
        <img src="/images/image1.jpg" alt="image Alvaro Morte">
        <img src="/images/image2.jpg" alt="image Alvaro Morte">
        <img src="/images/image3.jpg" alt="image Alvaro Morte">
        <img src="/images/image4.jpg" alt="image Alvaro Morte">
        <img src="/images/image5.jpg" alt="image Alvaro Morte">
    </div>
    <a href="/home">Back to Home</a>
  </body>
</html>
