<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photo Gallery of Thomas Sankara</title>
    <link rel="stylesheet" href="/stylesheets/gallery.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
    </nav>

    <h1>Photo Gallery of Thomas Sankara</h1>

    <div class="gallery">
      <div>
        <figure>
          <img
            class="portrait"
            src="/images/Thomas_Sankara.jpg"
            alt="Thomas Sankara - Official Portrait"
          />
          <figcaption>Thomas Sankara - Official Portrait</figcaption>
        </figure>

        <figure>
          <img
            src="/images/Sankara_1986_Harare.jpg"
            alt="Sankara, then president of Burkina Faso, leads a press conference in Harare, 1986"
          />
          <figcaption>
            Sankara, then president of Burkina Faso, leads a press conference in
            Harare, 1986
          </figcaption>
        </figure>

        <figure>
          <img
            src="/images/Mariam_Sankara_courtroom.jpg"
            alt="Mariam Sankara, widow of Sankara, sits in the courtroom listening to proceedings"
          />
          <figcaption>
            Mariam Sankara, widow of Sankara, sits in the courtroom listening to
            proceedings
          </figcaption>
        </figure>

        <figure>
          <img
            src="/images/Gilbert_Diendere.jpg"
            alt="Gen Gilbert Diendere is among those charged with Sankara's murder"
          />
          <figcaption>
            Gen Gilbert Diendere is among those charged with Sankara's murder
          </figcaption>
        </figure>

        <figure>
          <img
            src="/images/Sankara_Mitterrand_1983.jpg"
            alt="Sankara in paratrooper uniform with then-French president Francois Mitterrand in Vittel, France, 1983"
          />
          <figcaption>
            Sankara in paratrooper uniform with then-French president Francois
            Mitterrand in Vittel, France, 1983
          </figcaption>
        </figure>

        <figure>
          <img
            class="portrait"
            src="/images/Sankara_new_year_message_1985.jpg"
            alt="Sankara sends a new year's message to the people of Burkina Faso, 1985"
          />
          <figcaption>
            Sankara sends a new year's message to the people of Burkina Faso,
            1985
          </figcaption>
        </figure>

        <figure>
          <img
            src="/images/Sankara_waves_Ouagadougou_1985.jpg"
            alt="Sankara waves to troops in the street of Ouagadougou, 1985"
          />
          <figcaption>
            Sankara waves to troops in the street of Ouagadougou, 1985
          </figcaption>
        </figure>

        <figure>
          <img
            src="/images/Burkina_Faso_revolution_anniversary_1985.jpg"
            alt="August 4, 1985, and the military was marking the second anniversary of the Burkina Faso revolution"
          />
          <figcaption>
            August 4, 1985, and the military was marking the second anniversary
            of the Burkina Faso revolution
          </figcaption>
        </figure>

        <figure>
          <img
            src="/images/Sankara_Harare_1986.jpg"
            alt="Sankara arrives in Harare, Zimbabwe for a summit of non-aligned countries, 1986"
          />
          <figcaption>
            Sankara arrives in Harare, Zimbabwe for a summit of non-aligned
            countries, 1986
          </figcaption>
        </figure>
      </div>
    </div>
  </body>
</html>
