<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>'The ROCK' info page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1>Welcome to 'The ROCK' info page</h1>

    <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/about">About this awesome being</a></li>
    <li><a href="/works">See his amazing work</a></li> 
    <li><a href="/photo-gallery">Just pictures...why not?</a></li>
    </ul>

    <div id="main-image"></div>
    
</body>

</html>