<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
    <div id="home">
        <img id= "elon-head" src="images/elon2.png" alt="">
        <div id="text">
            <h1>ELON MUSK</h1>
            <a href="/about">ABOUT THIS DUDE</a><br>
            <a href="/works">WHERE DOES THIS DUDE WORK?</a><br>
            <a href="/photosGal">SOME PHOTOS OF DIS GUY</a>
        </div>
        
    </div>
</body>
</html>