<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Martin Scorsese</title>
    <link rel="stylesheet" href="stylesheets/style.css"/>
  </head>
  <body>
    <div>
      <h1 id="text">Martin Scorsese</h1>
    </div>
    <section>
      <div>
    <img src="/images/Martin-Scorsese.jpg" alt= "Martin Scorsese"/>
      </div>
    
    <a href="/about">About</a>
    <a href="/works">Works</a>
    <a href="/photogallery"> Photo Gallery</a>
  </body>
</html>
