<!DOCTYPE html>
<html>
  <head>
    <title>Home | Tomas Sankara</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/gallery">Photo Gallery</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Welcome to the Tomas Sankara website!</h1>
      <p>
        This website is dedicated to the life, works, and legacy of Tomas
        Sankara, a revolutionary Pan-Africanist who served as the President of
        Burkina Faso from 1983 to 1987.
      </p>
      <p>
        Please navigate the website to learn more about Tomas Sankara, his
        contributions, his works, and to view a photo gallery of his life and
        legacy.
      </p>
    </main>
    <footer>
      <p>&copy; 2023 Tomas Sankara Website</p>
    </footer>
  </body>
</html>