<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheet/styles.css" />

</head>
<body>
    <nav>
        <div class="nav-bar">
            <button><a href="/home">HOME</a></button>
            <button><a href="/about">ABOUT</a></button>
            <button><a href="/photo-gallery">PHOTO</a></button>
            <button><a href="/works">WORK</a></button>
        </div>   
    </nav>

    <div class="top-container">
        <img class="top-cloud" src="images/cloud.png" alt="cloud-img">
        <h1>I'm Hanh.</h1>
        <h2>a web developer.</h2>
        <img class="bottom-cloud" src="images/cloud.png" alt="cloud-img">
        <img src="images/mountain.png" alt="mountain-img">
      </div>
   
      <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
        <a class="footer-link" href="https://twitter.com/">Twitter</a>
        <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
        <p class="copyright">© 2022 Hanh Dinh.</p>
      </div>

      <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
        <a class="footer-link" href="https://twitter.com/">Twitter</a>
        <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
        <p class="copyright">© 2022 Hanh Dinh.</p>
      </div>
</body>
</html>