<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Express Basic Site</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="/images/1.png" class="logo" alt="Main Logo">
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./about">About</a></li>
            <li><a href="./works">Works</a></li>
            <li><a href="./gallery">Gallery</a></li>
        </ul>
        </div>
        <h1>Welcome</h1>
        <h1>This webside is about Gege Akutami</h1>
    </div>
</body>
</html>
