<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
    <a href="/"><img  class="back"src="images/back.svg" alt=""></a>
    <div class="container">
        <img class = "img" src="images/elon1.jpg" alt="">
        <img class = "img" src="images/elon8.jpg" alt="">
        <img class = "img" src="images/elon4.jpg" alt="">
    </div>
    <div class="container">
        <img class = "img" src="images/elon5.jpg" alt="">
        <img class = "img" src="images/elon6.jpg" alt="">
        <img class = "img" src="images/elonWeed.jpg" alt="">
    </div>
</body>
</html>