<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo-gallery</title>
    <link rel="stylesheet" href="/stylesheet/styles.css" />

</head>
<body>
    <nav>
        <div class="nav-bar middle-container">
            <button><a href="/home">HOME</a></button>
            <button><a href="/about">ABOUT</a></button>
            <button><a href="/photo-gallery">PHOTO</a></button>
            <button><a href="/works">WORK</a></button>
        </div>   
    </nav>

    <div class="Daughters middle-container">
        <h2>My daughters.</h2>
        <div>
          <img class="daughter-img" src="images/Elizabeth.png" alt="Elizabeth-img"> 
          <h3>My first daughter Elizabeth</h3>
          <p class="cooking-skill-description">She's the big sister. She loves donuts.</p>  
        </div>

        <div>
          <img class="daughter-img" src="images/Caroline.png" alt="Caroline-img">
          <h3>My second daughter Caroline</h3>
          <p class="interpretation-skill-discription">She loves bunnies</p>
        </div>

        <div>
            <img class="daughter-img" src="images/Christianna.png" alt="Christianna.img">
            <h3>My third daughter Christianna</h3>
            <p class="cooking-skill-description">She's the youngest one. She loves playing with her sisters.</p>    
        </div>
    </div>

      <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
        <a class="footer-link" href="https://twitter.com/">Twitter</a>
        <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
        <p class="copyright">© 2022 Hanh Dinh.</p>
      </div>
</body>
</html>