<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>'The ROCK' Photo Gallery</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1>I'll just leave these here...</h1>

    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">About this awesome being</a></li>
        <li><a href="/works">See his amazing work</a></li>
        <li><a href="/photo-gallery">Just pictures...why not?</a></li>
    </ul>

    <div class="gallery">
        <figure class="gallery__item gallery__item--1">
            <img src="/images/d2.jpeg" class="gallery__img" alt="Image 1">
        </figure>
        <figure class="gallery__item gallery__item--2">
            <img src="/images/d3.jpg" class="gallery__img" alt="Image 2">
        </figure>
        <figure class="gallery__item gallery__item--3">
            <img src="/images/d4.jpeg" class="gallery__img" alt="Image 3">
        </figure>
        <figure class="gallery__item gallery__item--4">
            <img src="/images/d5.jpeg" class="gallery__img" alt="Image 4">
        </figure>
        <figure class="gallery__item gallery__item--5">
            <img src="/images/d6.jpeg" class="gallery__img" alt="Image 5">
        </figure>
        <figure class="gallery__item gallery__item--6">
            <img src="/images/d7.jpeg" class="gallery__img" alt="Image 6">
        </figure>
    </div>

</body>

</html>