<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>'The ROCK' info page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1>Some of his amazing work!</h1>

    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">About this awesome being</a></li>
        <li><a href="/works">See his amazing work</a></li>
        <li><a href="/photo-gallery">Just pictures...why not?</a></li>
    </ul>

    <ul id="list">
        <li>Black Adam (2022)</li>
        <li>Red notice (2021)</li>
        <li>Fast & Furious Presents: Hobbs & Shaw (2019)</li>
        <li>Jumanji: The Next Level (2017)</li>
        <li>Baywatch (2017)</li>
        <li>The Fate of the Furious (2017)</li>
        <li>Central Intelligence (2016)</li>
    </ul>


</body>

</html>