<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Career</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Career</h1>
    <p>Álvaro Antonio García Pérez was born on February 23, 1975 in Algeciras, soon relocating to Bujalance, Córdoba with his family.
      <br>
      Originally enrolled into a degree of communications engineering, he switched to dramatic art, graduating from the Escuela Superior de Arte Dramático de Córdoba in 1999. He also took post-graduate studies at the University of Tampere. Then, after his spell in Finland, he installed in Madrid. By age 33, he was diagnosed a cancerous tumour in the left thigh, which he ultimately overcame.
      <br>
      Morte began his acting career when he played a minor role in the Spanish television series Hospital Central. He landed his first main role in a TV series in Planta 25, aired on a number of Spanish regional TV broadcasters and in which he played Ray—a driver—from 2007 to 2008. He then played Adolfo Castillo in the Spanish television series Bandolera, Gabriel Areta in the soap opera Amar en tiempos revueltos.
      <br>
      Morte performed a minor role in Lola, la película (2007), a biopic film about the folkloric singer Lola Flores in which he briefly portrayed a bullfighter, lover of the protagonist.
      <br>
      In addition to his acting work, Morte owns a theatre company called 300 pistolas (English: 300 pistols), founded in 2012.
      <br>
      Morte joined the cast of the long-running telenovela El secreto de Puente Viejo in 2014, portraying Lucas Moliner—a small-town physician—until 2017.[1
      <br>
      Following his exit from Puente Viejo, Morte played the role of Sergio "el Profesor" Marquina in the television series Money Heist, whose first season aired on Antena 3 in 2017. He was heavily praised for his portrayal of the character—the meticulous criminal mastermind behind the heist plot central to the series—and has gained, along with the television series, worldwide fame.[1 In late 2017, Netflix acquired the series and distributed it worldwide on its platform. The most recent part 4 was released on April 3, 2020.
      <br>
      He landed his first main role in a feature film in the Netflix film Mirage (2018).
      <br>
      Morte starred in the 2019 Movistar+ television series El embarcadero, playing Óscar, a man who has lived a double life by living with two different women separatedly. In December 2019, Morte was announced to have joined the cast of the Amazon television series The Wheel of Time, an adaption of the epic fantasy novels of the same name, reportedly set to portray Logain.
      <br>
      In April 2021, he was announced to have been cast as Juan Sebastián Elcano in the miniseries Sin límites.
      </p>
    <a href="/home">Back to Home</a>
  </body>
</html>

