<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> 
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Document - Express</title>
</head>
<body>
    <p class="text-center">   <h1> La teoría de la relatividad </h1>
     </p>
     <p class="text-center">
     <p class="text-justify">
        Albert Einstein es uno de los grandes genios de la humanidad. En el ámbito de las 
        ciencias físicas llevó a cabo una revolución todavía en marcha y cuyos alcances no 
        pueden medirse aún en toda su amplitud. En su primera formulación (teoría de la relatividad 
        restringida), la teoría de la relatividad extendió a los fenómenos ópticos y electromagnéticos 
        el principio de relatividad galileo-newtoniano, anteriormente limitado sólo al campo de la mecánica, 
        y afirmó la validez de las leyes de esta última tanto respecto de un sistema galileano de referencia 
        K, como en relación con otro de referencia K' en movimiento rectilíneo y uniforme respecto de K.
    </p>
</p>
    <p class="text-center">
    <p class="text-justify">
        Según las teorías de Einstein, la ley de la propagación de la luz en el vacío debe tener, 
        como cualquier otra general de la naturaleza, la misma expresión ya referida, por ejemplo, 
        a una garita ferroviaria o a un vagón de tren en movimiento rectilíneo y uniforme en relación 
        con ésta; dicho en otros términos, la velocidad de la luz no se ajusta a la de los sistemas de 
        referencia que se mueven en línea recta y de manera uniforme respecto del movimiento de la misma 
        luz. En realidad, el experimento de Michelson-Morley (de los físicos estadounidenses Albert Michelson
        y Edward Morley), mil veces repetido y comprobado a partir de 1881, había demostrado la constancia de 
        la velocidad de la luz.
    </p>
</p>

    <p class="text-center"> <img src="/images/einstein_1920.jpg" /> </p>

     <p class="text-center">    <h1>  <a href="/home">Back to Home</a> </h1> 
</body>
</html>