<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works of Thomas Sankara</title>
    <link rel="stylesheet" href="/stylesheets/works.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/gallery">Photo Gallery</a>
    </nav>

    <h1>Works of Thomas Sankara</h1>

    <ul>
      <li>
        <p>
          <a
            href="https://www.goodreads.com/book/show/3039894-women-s-liberation-and-the-african-freedom-struggle"
            >"Women's Liberation and the African Freedom Struggle"</a
          >
        </p>
      </li>
      <li>
        <p>
          <a
            href="https://www.goodreads.com/book/show/2657541-we-are-heirs-of-the-world-s-revolutions"
            >"We Are Heirs of the World's Revolutions: Speeches from the Burkina
            Faso Revolution 1983-87"</a
          >
        </p>
      </li>

      <li>
        <p>
          <a href="https://www.goodreads.com/book/show/2474413.Thomas_Sankara_Speaks"
            >"Thomas Sankara Speaks: The Burkina Faso Revolution, 1983-87"</a
          >
        </p>
      </li>
    </ul>
  </body>
</html>
