*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5,10,5, 0.80), rgba(90,40,90,0.80)), url(../images/backgroundjfif.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar{
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 130px;
    cursor: pointer;
}
h1{
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 3rem;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
    margin: 50px;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content:left;
}

li{
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
    margin: 50px;
    padding: 2px;
}

.imgbnn{
    width: 100%;
    height: 100%;
}

.carrousel{
    width: 100%;
}

.conteCarrousel{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

#itemCarrousel-1{
    background-color: rgb(226, 50, 50);
}

#itemCarrousel-2{
    background-color: rgb(50, 200, 226);
}

#itemCarrousel-3{
    background-color: rgb(200, 226, 50);
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: grey;
}

.itemCarrouselArrows > a > i{
    color: white;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2rem;
}

.navbar ul li::before{
    content: "";
    height: 3px;
    width: 0%;
    background: yellowgreen;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}

.navbar ul li:hover::before{
    width: 100%;
}
