<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- The public view was declared in the app.js file, making the public folder the default folder for  -->
  <link rel = "stylesheet" href= "/stylesheets/style.css"> </link>
  <link href="https://fonts.googleapis.com/css?family=Courgette|Lora&display=swap" rel="stylesheet">
  <title>About Green Tea</title>
</head>
<a name="top"></a>
<body>
  <nav>
    <a href="/"> Home </a>
    <a href="/photos"> Photo Gallery </a>
  </nav>
  <img src="/images/tea-plant.jpg" class="image-about-pg" alt="tea plants">
  <h2>About Green Tea</h2>
  <p>Green Tea is a true tea type made using the leaves of the <i>Camellia sinensis</i> tea plant.
    It is called a true tea because it is actually made from the leaves of the plant, versus
    other herbal tea types that are made from the leaves, stems, roots and flowers of plants.
  </p>
  <h3>Health Benefits of Drinking Green Tea</h3>
  <p>Green tea is widely known for its beneficial properties. It contains antioxidants called polyphenols
    and catechins that boast a wide variety of health effects, including:
  </p>
  <li>Improved blood circulation</li>
  <li>Help lower high blood pressure</li>
  <li>Help regulate blood sugar levels</li>
  <li>Helps prevent growth and spread of some tumors/cancerous activity.</li>
  <li>Helps slow memory regression and provides some protection from neurological diseases.</li>
  <img src="/images/brewing.jpg" class="image-about-pg" alt="pouring green tea">
  <h3>Brewing Green Tea</h3>
  <p>There is no one way to brew green tea, however we can follow a general method for most types.
    <em>As a rule of thumb, you should aim for 2 grams of tea leaves per 6 ounces of water.</em>
    <li>Start with fresh, cold (not distilled or previously boiled) water.</li>
    <li>Allow the water to heat just short of boiling. The ideal range is between 160-180 °F.</li>
    <li>Let the tea steep between 1-3 minutes. Small leaves generally infuse faster than large ones.</li>
    <li>Pour and enjoy with any other sweeteners or desired flavors.</li>
  </p>

  <a href="#top">Back to top</a>
</body>

</html>