<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <h1>Drake</h1>
      <div class="nav-links">
        <a href="/gallery">Gallery</a> <a href="/about">About</a> <a href="/">Home</a>
      </div>
    </nav>

    <div class="about">
      <img src="/images/about.jpg">
      <h1>Drake</h1>
      <p>
        Aubrey Drake Graham was born in Toronto, Ontario, the son of Dennis Graham,
        an African-American musician born in Memphis, Tennessee, and Sandi (Sher)
        Graham, a Canadian Jewish educator. As a young man, Drake appeared in
        several commercials, for such retailers as Sears and GMC. In 2001, Drake
        rose to fame playing the role of "Jimmy Brooks", a character on Degrassi:
        The Next Generation (2001), a basketball star who is confined to a wheelchair
        after being shot by a classmate. In 2006, Drake launched his music career
        by releasing his first mix tape, "Room for Improvement". Three years later,
        his third mix tape, "So Far Gone", garnered him critical and commercial
        success, and, the following year, he released his official debut album,
        "Thank Me Later", to generally positive reviews. Aubrey Drake Graham has
        established himself as a multi-talented young Canadian, and the
        entertainment industry has great expectations for him.
      </p>
    </div>

    <script src="/js/script.js"></script>
  </body>
</html>
