<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 >CONTACT SEBA for copyright</h1>
    <header><img src="/images/Seba COPYRIGHT.png" alt="seba copyright" class="photo"></header>
  </body>
</html>
