<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>Keyboard Cat</title>
</head>
<body>

  <nav>
    <a href="index">Home</a>
    <a href="gallery">Gallery</a>
  </nav>

  <h2>About</h2>
  <p>Keyboard Cat is the nickname given to an orange tabby cat named Fatso,
    filmed in the mid-1980s by his owner, Charlie Schmidt. It has been used
    as an indicator of failure on forums and communities.</p>
  <h2>Origin</h2>
  <p>The original VHS footage of Fatso was recorded by performance artist
    Charlie Schmidt in 1984. He put the cat in a shirt belonging to his son Cody
    and manipulated his paws to make the cat appear to be playing the keyboard.
    On June 7th, 2007, Schmidt uploaded the video to his YouTube channel,
    originally titled “Cool Cat” where it sat in relative obscurity for another two years.</p>
  <p>On February 2nd, 2009, YouTuber / blogger Brad O’Farrell posted a mashup
    video of a man falling down an escalator with Schmidt’s cat, entitled
    “Play him off, Keyboard Cat.” The idea of “playing someone off” came from
    the trope of “giving someone the hook” for a bad performance, a technique
    from Vaudeville shows. The original video has since been taken down from
    the original channel, but has been reuploaded by other users. According to
    The Guardian’s report, the original video was in fact produced decades ago
    and the cat died in 1987.</p>
  <p class="thanks">Thank you to <a href="http://knowyourmeme.com/memes/keyboard-cat">knowyourmeme.com</a> for this excerpt.</p>

</body>
</html>
