<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About | SweetTreats</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body class="light-blue lighten-5">
  
  <!--NAVBAR-->
  <div class="navbar-fixed">
    <nav class="indigo lighten-3" role="navigation">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Sweet Treats</a>
        <a href="#" data-target="mobile-menu" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/about">Nosotros</a></li>
          <li><a href="/gallery">Treats</a></li>
        </ul>
      </div>
    </nav>
    
    <ul class="sidenav" id="mobile-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/gallery">Treats</a></li>
    </ul>
  </div>
  
  <header class="container">
    <div class="row center-align">
      <div class="col s12">
        <h1>Nosotros</h1>
      </div>
    </div>
  </header>
  
  <main class="container">
    <div class="row">
      <div class="col s12">
        <p class="flow-text">
          Sweet Treats es la mejor opción para aquellas personas que buscan demostrar un sentimiento, un regalo de agradecimiento, un detalle dulce o el treat perfecto para ver una película. 
        </p>
        <p class="flow-text">
          Buscamos que nuestros productos sean de la más alta calidad, utilizando ingredientes premium y lo entregamos con una presentación única para cada ocasión. 
        </p>
        <p class="flow-text">
          La perfecta ocasión para comprar un Treat es tan sencilla como reglar un detalle para alegrarle el día a alguien, para agradecer, para desear un feliz cumpleaños, feliz Navidad o hasta para ofrecer deliciosos y originales postres en un evento en casa.
        </p>
      </div>
    </div>
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large indigo darken-4">
        <i class="large material-icons">public</i>
      </a>
      <ul>
        <li><a class="btn-floating white" href="https://www.instagram.com/sweettreats_mx/">
          <img class="responsive-img share" src="img/insta.png" alt="Instagram">
        </a></li>
        <li><a class="btn-floating white" href="https://www.facebook.com/sweettreatsmexico/">
          <img class="responsive-img share" src="img/face.png" alt="Facebook">
        </a></li>
        <li><a class="btn-floating white" href="https://m.me/sweettreatsmexico">
          <img class="responsive-img share" src="img/messenger.png" alt="Messenger">
        </a></li>
        <li><a class="btn-floating yellow darken-1">
          <i class="material-icons">shopping_cart</i>
        </a></li>
      </ul>
    </div>
  </main>
  
  <footer class="page-footer indigo lighten-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Sweet Treats <sup>&circledR;</sup></h5>
          <p class="grey-text text-lighten-4">El compromiso de SweetTreats <sup>&circledR;</sup> es entregar la mejor calidad y las sonrisas más grandes a todos nuestros clientes</p>
          <p class="grey-text text-lighten-4">Conoce más sobre nosotros y regala sonrisas</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Descubre</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
            <li><a class="grey-text text-lighten-3" href="/about">Nosotros</a></li>
            <li><a class="grey-text text-lighten-3" href="/gallery">Galería</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/sweettreats_mx/">
              <img class="responsive-img social" src="img/insta.png" alt="Instagram" />
              &thinsp;Instagram
            </a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/sweettreatsmexico/">
              <img class="responsive-img social" src="img/face.png" alt="Facebook" />
              &thinsp;Facebook
            </a></li>
            <li><a class="grey-text text-lighten-3" href="https://m.me/sweettreatsmexico">
              <img class="responsive-img social" src="img/messenger.png" alt="Messenger" />
              &thinsp;Messenger
            </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">© 2018 Copyright Text</div>
    </div>
  </footer>
  
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="js/main.js"></script>
</html>