<div class="centerblock txt_grey" >
    <h1>About</h1>
    <span>
    Bio-intelligence inc. is a company dealing with the research on similarities between people and animals. Our methods are strictly scientific and results are valid in 99% of the cases
</span>
</div>