<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <h1>Drake</h1>
      <div class="nav-links">
        <a href="#">Gallery</a> <a href="#">About</a> <a href="#">Home</a>
      </div>
    </nav>

    <div class="about">
      <img src="/images/about.jpg">
    </div>
  </body>
</html>
