<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gallery</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>
          <a href="/">
            Home
          </a>
        </h1>
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/gallery">Gallery</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </nav>
      </header>
      <div>
          
              <img src="/images/img_01.jpg" width="600" height="400">

            <div class="desc">Add a description of the image here</div>
          </div>
          
          <div class="gallery">
              <img src="/images/img_02.jpg"  width="600" height="400">
            <div class="desc">Add a description of the image here</div>
          </div>
          
          <div class="gallery">
              <img src="/images/img_03.jpg" width="600" height="400">
            <div class="desc">Add a description of the image here</div>
          </div>
          
          <div class="gallery">
              <img src="/images/img_04.jpg" width="600" height="400">

            <div class="desc">Add a description of the image here</div>
      </div>
</body>
</html>