<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="lstyles.css">
    <title>memes</title>
</head>
<body class="gallery-body">
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/gallery">gallery</a></li>
            </ul>
        </nav>
        <section>
            <div class="iluminati">
                <img src="https://i.kym-cdn.com/photos/images/original/000/880/679/ae2.jpg" alt="hilorojo_logo"/>
            </div>
            <div class="iluminati">
                    <img src="https://i.imgflip.com/1e964d.jpg" alt="hilorojo_logo"/>
            </div>
            <div class="iluminati">
                    <img src="https://pics.me.me/insainely-illuminati-yesterday-at-12-26pm-dear-illuminati-i-dont-like-12313779.png" alt="hilorojo_logo"/>
            </div>
        </section>
    </body>
</html> 