<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Ironhack - Fotitos</title>
</head>

<body>
    <a href="../">Atrás</a>
    <div class="container">
        <h1>Fotitos</h1>
        <section>
            <div class="picture">
                <button id="prev">
        </button> <img src="" alt="" />
                <button id="next">></button>
            </div>
        </section>
    </div>
    <script src="/javascript/main.js"></script>
</body>

</html>