<div class="cards-container gallery">
    <div class="card" style="width: 60%;">
        <img class="card-img-top" src="http://static.t13.cl/images/original/2018/04/1522877951-radiohead-2.jpg"
            alt="Card image cap">
    </div>
    <div class="card" style="width: 60%;">
        <img class="card-img-top" src="http://www.lifeboxset.com/wp-content/uploads/2015/06/radiohead-nuevo-disco.jpg"
            alt="Card image cap">
    </div>
    <div class="card" style="width: 60%;">
        <img class="card-img-top"
            src="https://img.redbull.com/images/q_70,f_auto/redbullcom/2016/05/02/1331792428643_2/radiohead"
            alt="Card image cap">
    </div>
    <div class="card" style="width: 60%;">
        <img class="card-img-top" src="https://ultrabrit.com/wp-content/uploads/2019/06/radiohead-blue.jpg"
            alt="Card image cap">
    </div>
    <div class="card" style="width: 60%;">
        <img class="card-img-top"
            src="http://d3iln1l77n73l7.cloudfront.net/couch_images/attachments/000/053/490/original/radiohead320x320.jpg?2014"
            alt="Card image cap">
    </div>
</div>