<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>Keyboard Cat</title>
</head>
<body>

  <nav>
    <a href="index">Home</a>
    <a href="about">About</a>
  </nav>

  <h2>Keyboard Cat in other glorious forms</h2>

  <img src="/images/keyboardron.gif" alt="Ron Livingston as Keyboard Cat">
  <img src="/images/keyboarddj.gif" alt="Keyboard Cat as a DJ">
  <img src="/images/keyboardal.gif" alt="Al Pacino as Keyboard Cat">

</body>
</html>
