<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <title>no se me ocurre nada</title>
</head>
<body class="home">
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/gallery">gallery</a></li>
        </ul>
        <div class="Texto-increible">
            Inserte aqui un texto increiblemente extenso e interesante que justifique el logo
        </div>
    </nav>
    <section>
        <div class="iluminati">
            <img src="https://rlv.zcache.com/illuminati_logo_classic_round_sticker-rf727d230c88b4193a0bc208314af3872_v9waf_8byvr_540.jpg" alt="hilorojo_logo"/>
        </div>
    </section>
</body>
</html> 