<div class='main_box'>
    <h1>Welcome!</h1>
</div>

<div class="centerblock txt_grey">
    <p>Please enter your name if you what to know what is your totem animal:</p>
        <input type="text" id="yourName">
        <button id="btnSearch">submit</button>
</div>
