<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Basic Site</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>

<body>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        nav {
            background-color: skyblue;
            height: 30px;
        }

        li {
            float: left;
            list-style: none;
        }

        li a {
            text-decoration: none;
            padding: 5px 20px;
        }
        h1{
            padding: 30px;
        }
        p{
            padding-left:30;
        }
    </style>
    <nav>
        <ul class="barra">
            <li class="nav"><a href="/">Home</a></li>
            <li class="nav"><a href="/about">About</a></li>
            <li class="nas"><a href="/gallery">Gallery</a></li>
        </ul>
    </nav>
    <h1>Welcome page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, tenetur amet ut accusamus velit necessitatibus iusto, iste eveniet laudantium asperiores repellendus veritatis quia quo. Rerum error consequuntur ut saepe eos!
    </p>
</body>

</html>