<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <nav>
      <h1>Drake</h1>
      <div class="nav-links">
        <a href="/gallery">Gallery</a> <a href="/about">About</a> <a href="/">Home</a>
      </div>
    </nav>

      <img src="/images/background.jpg" width="80%" id="background" />

    <div class="col-2">
      <h3>About drake</h3>
      <img src="/images/about-drake.jpg"/>
    </div>

    <div class="col-2">
      <h3>Dark Side (Gallery)</h3>
      <img src="/images/oh.jpg" />
    </div>


  </body>
</html>
