<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- The public view was declared in the app.js file, making the public folder the default folder for  -->
  <link rel = "stylesheet" href= "/stylesheets/style.css"> </link>
  <title>Homepage</title>
</head>
<body>
  <h1>This is the homepage!</h1>
  <img src="/images/wave-hello.gif" alt="gif of bear waving hello">
  <a href="/about"> Go to About Page </a>
  <a href="/photos"> Go to Photo Gallery </a>

</body>
</html>

