<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Rick and Morty </title>

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional Bootstrap Theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/homestyle.css">
  </head>
  <body>

    <header>
      <img src="/images/rmlogo.png">
    </header>

    <div class="welcome-msg">
      <h1> Welcome to Rick and Morty's! </h1>

      <h2> This is where people come to get their sh** together</h2>
    </div>

    <div class="links">
      <a href="http://localhost:3000/about"><button class="btn btn-lg btn-block"> About Getting Your Sh** Together </button></a>
      <a href="http://localhost:3000/gallery"> <button class="btn btn-lg btn-block"> Sh** Gallery </button></a>
    </div>


    <!-- jQuery script -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Bootstrap Script -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
