<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  
  <title>Document</title>
</head>
<body>
<header> <h1>Novak Djokovic</h1><h2> The Best Player In The World</h2></header>
<div><p>Each and every one of us has a unique personality, consisting of all the little things that empower us, inspire and keep us going throughout the days and years. I am no exception. In order to be the best in tennis, I had to unlock so many different spheres of knowledge and apply them to my every day life. Welcome to the part of my webpage where I will share with you all the things I am passionate about. Here, you will get to know every aspect of me - up close and personal.

    – Novak Djokovic</p></div>
<div><form action="/about">
  <input type="submit" value="About" />
</form><form action="/gallery">
  <input type="submit" value="Gallery" />
</form></div>

</body>
</html>