<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/CSS/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">

  <title>Los Juegos de IronHack</title>
</head>
<body>
  <nav>
    <img src="/images/ironhack.png" alt="Imagen">
    <ul>
      <li><a href="/semana1" target="_blank">Semana1</a></li>
      <li><a href="/Galeria" target="_blank">Galeria </a></li>
    </ul>
  </nav>
  <section>
    <h1>Los juegos de Ironhack</h1>
    <img src="/images/simpsons.jpg" alt="imagen principal">
    <h2>Es esta página tiene como propósito 
        ser un medio donde podemos expresar nuestras experiencias 
        recabadas durante las 4 semanas que llevamos de bootcamp.</h2>
  </section>
</body>
</html>