<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>Keyboard Cat</title>
</head>
<body>

  <nav>
    <a href="about">About</a>
    <a href="gallery">Gallery</a><br>
  </nav>

  <h1>Keyboard Cat</h1>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/J---aiyznGQ" frameborder="0" allowfullscreen></iframe>

  <p>This page is supposed to look super duper old. That is why it is not fancy. That was intentional. Srsly.</p>

</body>
</html>
