<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <script type = 'module' src="events.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <nav>
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/about">about</a></li>
                    <li><a href="photo">photo gallery</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {{{body}}}
    <footer>
        <div class="placeholder"></div>
        <div class="txt_grey">
            Bio-intelligence inc.
        </div>
    </footer>
</body>
</html>