<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- The public view was declared in the app.js file, making the public folder the default folder for  -->
  <link rel = "stylesheet" href= "/stylesheets/style.css"> </link>
  <link href="https://fonts.googleapis.com/css?family=Courgette|Lora&display=swap" rel="stylesheet">
  <title>About Page</title>
</head>
<a name="top"></a>
<body>
  <nav>
    <a href="/"> Home </a>
    <a href="/about"> About </a>
  </nav>
  <h2>Photo Gallery</h2>
  <div id="photo-gallery"></div>
    <div class="photo-w-caption">
      <img src="/images/how-to-brew.gif" alt="">
      <p>Infusion times for different types of Japanese green tea.</p>
    </div>
    <div class="photo-w-caption">
        <img src="/images/matcha-vs-green-tea.jpg" alt="">
        <p>Green tea versus matcha tea.</p>
    </div>
    <div class="photo-w-caption">
        <img src="/images/green-tea-types.jpg" alt="">
        <p>Types of green tea</p>
    </div>
    
    
    </div>
  <a href="#top">Back to top</a></a>


</body>
</html>