<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- The public view was declared in the app.js file, making the public folder the default folder for  -->
  <link rel = "stylesheet" href= "/stylesheets/style.css"> </link>
  <title>About Page</title>
</head>
<body>
  <h2>Photo Gallery</h2>
  <div id="photo-gallery"></div>
    <img src="/images/social-life.gif" alt="social-life gif">
    </div>
  <a href="/"> Go to Homepage </a>
  <a href="/about"> Go to About Page </a>


</body>
</html>