
<div class='centerblock txt_grey'>
    <h1>Gallery</h1>
</div>

<div class="album">
    <div class="photo_frame">
        <div><img class="photo" src="/images/lion.jpg"></div>
        <div class="desc"> The king</div>
    </div>
    <div class="photo_frame">
        <div><img class="photo" src="/images/croco.jpg"></div>
        <div class="desc"> The dangerous</div>
    </div>
    <div class="photo_frame">
        <div><img class="photo" src="/images/lizard.jpeg"></div>
        <div class="desc">The sneacky</div>
    </div>
    <div class="photo_frame">
        <div><img class="photo" src="/images/gorilla.webp"></div>
        <div class="desc">The bouncer</div>
    </div>
</div>