<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Pics</title>
  </head>
  <body>
    <header>
      <nav>
        <a>Home<link href="home.html" /> </a>
        <a> | </a>
        <a>About<link href="about.html"/></a>
      </nav>
    </header>
    <div>
      <img src="/pics/default10.png" />
      <img src="/pics/default11.png" />
      <img src="/pics/default13.png" />
      <img src="/pics/default5.png" />
    </div>
  </body>
</html>
