<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="page">
    <h3>I used to be a developer. Now, I'm still a developer,
      but I look like a <em>designer</em></h3>
      <img src="/images/josh-serious.jpg" alt="josh-serious">
    </div>  
  </body>
</html>
