<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> About </title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <img src="/images/profilepic.jpg" class="profile-img" alt="">
  <div class="about-text">
    <h1> About Me</h1>
    <p>
      Business-to-consumer deployment equity termsheet stealth mass market paradigm shift A/B testing investor interaction design beta. Lean startup accelerator venture founders market seed round early adopters agile development marketing. IPhone ramen crowdfunding pivot entrepreneur release success. Early adopters user experience pitch infrastructure hypotheses startup pivot infographic market influencer partnership interaction design. Business-to-business ownership technology. Seed money business plan metrics accelerator traction series A financing buzz bootstrapping infrastructure gen-z. Buzz infographic buyer backing facebook strategy channels angel investor monetization. Product management social proof metrics angel investor user experience infrastructure partner network mass market research & development value proposition. Growth hacking paradigm shift iteration disruptive analytics influencer ownership hypotheses crowdsource. Hackathon facebook MVP technology buyer twitter business-to-business startup android bandwidth release influencer.
    </p>
  </div>
  <script
        src="http://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
  </script>
<script src="/js/script.js"></script>
</body>
</html>
