<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Gallery </title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <nav>
    <div id="nav-bar">
        GALLERY
    </div>
  </nav>
  <div class="img-collection">
    <img src="/images/wiz.gif" alt="">
    <img src="/images/realrapper.gif" alt="">
    <img src="/images/dog.gif" alt="">
    <img src="/images/squish.gif" alt="">
    
  </div>
  <div class="img-collection">
    <img src="/images/squish.gif" alt="">
    <img src="/images/heyarnold.gif" alt="">
    <img src="/images/startrek.gif" alt="">
    <img src="/images/nailedit.gif" alt="">

  </div>
<script src="/js/script.js"></script>
</body>
</html>
