<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Home </title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    
    <h1> Rami Malek </h1>

    <h2> Welcome to the Rami Malek Fan Page!</h2>

    <p>
      Rami Malek, is best known for his role as Elliot Alderson in the hit tv show Mr. Robot shown on the USA Network.
    </p>

    <script src="/js/script.js"></script>
  </body>
</html>
