<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Home </title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <h1> Welcome to my awesome gif collection page biatch </h1>

  <p> There's not much to see though... Always read the small letters 👀</p>
  <div class="small-letters">
    <p>
      You nevah know what you might find...
    </p>
  </div>

  <img src="/images/hello.gif" alt="">

  <script src="/js/script.js"></script>
</body>
</html>
