body {
  background-color: rgb(236, 240, 241);
}

.h1Tag {
  border-bottom: 1px solid;
  border-radius: 5px;
  width: 400px;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 5px 5px 10px black;
}

.small-letters {
  text-align: center;
  margin-top: 50px;
  font-size: 12px;
}

.helloImg {
  margin: 30px 450px 0 450px;
}
