<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> About Page</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>What are Pike Cichlids</h1>
    <p>Pike cichlids are describe the crencicihla family, they predatory streamlined fish
    that live in tropical ponds, streams, and rivers in the Amazon rain forest including
    countires such as Columbia, Venezuela, Peru, Suriname, Brazil and other countries in South America.
    </p>

    <img src="/images/dab.gif">
    <a href = "http://localhost3000/html-page1">Back to home page.</a>
    <script src="/js/script.js"></script>
  </body>
</html>
