<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> About Page</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>What are Pike Cichlids</h1>
    <p>Pike cichlids are describe the crencicihla family, they are a predatory streamlined fish
    that live in tropical ponds, streams, and rivers in the Amazon rain forest including
    countires such as Columbia, Venezuela, Peru, Suriname, Brazil and other countries in South America.

    En espaniol they are know as Jacunda
    </p>

    <img src="/images/pike1.jpeg">
    <div class = "Links">
      <a href = "http://localhost3000/about-page">About Pike Cichlids</a>
      <a href = "http://localhost3000/photo-gallery">Incredible images of Pike Cichlids</a>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
