
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> About Us | Hello, Express! </title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Here are the images</h1>

      <img src="/images/pike1.jpeg">
      <img src="/images/pike2.jpeg">
      <img src="/images/pike2.jpg">
      <img src="/images/pike3.jpg">
      <img src="/images/pike4.jpeg">
      <img src="/images/pike5.jpg">
    <a href = "http://localhost3000/html-page1">Back to home page.</a>
    <script src="/js/script.js"></script>
  </body>
</html>
